# ===== MODE =====
MODE=yandex
LEARNING_MODE=0
LEARNING_CHANNEL=your_channel

# ===== TWITCH =====
TWITCH_CHANNEL=your_channel
TWITCH_CLIENT_ID=your_twitch_client_id
TWITCH_CLIENT_SECRET=your_twitch_client_secret
TWITCH_WEB_CLIENT_ID=kimne78kx3ncx6brgo4mv6wki5h1ko

# ===== YANDEX =====
YANDEX_API_KEY=your_yandex_api_key
YANDEX_FOLDER_ID=your_folder_id

# ===== BOTS =====
BOT1_USERNAME=your_bot_username
BOT1_OAUTH=oauth:your_oauth_token
